@import 'scss/vars';

.App {
  position: relative;
  margin: 0 auto;
  font-family: $default-font;
  min-height: 100vh;
}
a:active {
  color: $light;
}

a {
  text-decoration: none;
}
ul {
  list-style: none;
}