@import 'scss/vars';

*{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  text-align: center;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(180deg, #E6D4DE 0%, #ff807285 100%) no-repeat;
}

.App {
  position: relative;
  margin: 0 auto;
  font-family: $default-font;
  min-height: 100vh;
}
a:active {
  color: $light;
}

a {
  text-decoration: none;
}
ul {
  list-style: none;
}