.box__message {
  position: absolute;
  width: 250px;
  right: 0;
  left:0;
  margin: auto;
  color: #fff;
  padding: 10px;
  background-color:#f79393e6;
  border-radius: 5px 5px 5px 5px;
  z-index: 1000;
}

